<div class="tree-container">
    @for (node of treeData; track $index) {
    <ng-container>
        <div class="tree-node">
            <div class="node-content" [class.has-children]="node.children && node.children.length > 0">
                @if (node.children && node.children.length > 0) {
                <span class="expand-icon" (click)="toggleNode(node)">
                    {{ node.expanded ? '▼' : '►' }}
                </span>
                }

                <span class="node-label" (click)="onNodeClick(node)">
                    {{ node.label }}
                </span>
            </div>
            @if (node.expanded && node.children && node.children.length > 0) {
            <div class="children-container">
                <div class="indent-line"></div>
                <app-infinite-tree-view [treeData]="node.children" (nodeClicked)="onChildNodeClick($event)">
                </app-infinite-tree-view>
            </div>
            }
        </div>
    </ng-container>
    }
</div>