/* modal.component.scss */
.modal.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 1000ms linear, opacity 1000ms linear;
    -ms-transition: background-color 1000ms linear, opacity 1000ms linear;
    transition: background-color 1000ms linear, opacity 1000ms linear;
    opacity: 1;
}

.modal {
    visibility: hidden;
    display: block;
    opacity: 0;
}

.modal-dialog {
    position: fixed;
    place-self: anchor-center;
    width: 80%;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 1rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    -webkit-appearance: none;

}

.close>span {
    padding: 0.15rem 0.6rem 0.4rem 0.6rem;
    border-radius: 5px;
    border: 1px solid gray;
}

.close>span:hover {
    border: 1px solid red;
    background: red;
    color: white;
    transition: all 0.3s ease-in-out;
}